doctype html
html(lang="fr-FR")
    head
        title Login
        meta(charset="utf-8")
        link(href='css/style.css' rel="stylesheet")
        link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
    body
    header.header
        div
            a(href="/") Login
            a(href="/signup") Register
    .wrapper.fadeInDown
      #formContent
        .fadeIn.first
        form(action="/", method="post" )
          input#login.fadeIn.second(type='text' name='mail' placeholder='Mail')
          input#password.fadeIn.third(type='password' name='password' placeholder='Password')
          input.fadeIn.fourth(type='submit' value='Log In')
        #formFooter
          a.underlineHover(href='#') Forgot Password?
