doctype html
html(lang="fr-FR")
    head
        title Register
        meta(charset="utf-8")
        link(href='css/style.css' rel="stylesheet")
        link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
    body
        ul
            li